<div class="alert" [ngClass]="alerta" role="alert">
    This is a primary alert—check it out!
</div>
 <button class="btn btn-primary" (click)="alerta = 'alert-primary'">alert-primary</button>
 <button class="btn btn-danger" (click)="alerta = 'alert-danger'">alert-danger</button>
 <button class="btn btn-info" (click)="alerta = 'alert-info'">alert-info</button>

 <hr>

 <h1 [ngClass]="{ 'text-danger': propiedades.danger, 'text-info': !propiedades.danger }">
     Hola Mundo
 </h1>
 <button class="btn btn-info" 
    (click)="propiedades.danger = !propiedades.danger"
    [ngClass]="{ 'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger }">
    click aka
</button>

<br><br>
<h3>Proceso Asincrono</h3>
<button class="btn-primary"
    type="button" name="button"
    (click)="ejecutar()"
    [disabled]="loading">
    <i [ngClass]="{ 'fa-save': !loading, 'fa-refresh fa-spin': loading }" 
    class="fa"></i>
    <span *ngIf="!loading">Guardar Cambios </span>
    <span *ngIf="loading">Espere por favor </span>   
</button>